:host{
    --toolcool-range-slider-width: 100%;
    --toolcool-range-slider-height: 0.25rem;

    --toolcool-range-slider-panel-bg: #2D4373;
    --toolcool-range-slider-panel-bg-hover: #5f79b7;
    --toolcool-range-slider-panel-bg-border-radius: 1rem;

    --toolcool-range-slider-pointer-width: 15px;
    --toolcool-range-slider-pointer-height: 15px;
    --toolcool-range-slider-pointer-bg: #fff;
    --toolcool-range-slider-pointer-bg-hover: #dcdcdc;
    --toolcool-range-slider-pointer-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    --toolcool-range-slider-pointer-shadow-hover: 0 0 2px rgb(0, 0, 0);
    --toolcool-range-slider-pointer-border: 1px solid hsla(0, 0%, 88%, 0.5);
    --toolcool-range-slider-pointer-border-hover: 1px solid hsla(0, 0%, 88%, 0.5);
    --toolcool-range-slider-pointer-border-focus: 1px solid hsl(201, 72%, 59%);
    --toolcool-range-slider-pointer-border-radius: 100%;
}

.range-slider{
    position: relative;
    width: var(--toolcool-range-slider-width, 100%);
    height: var(--toolcool-range-slider-height, 0.25rem);
    touch-action: none;
    max-width: 100%;
}

.range-slider * {
    box-sizing: border-box;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: var(--toolcool-range-slider-panel-bg, #2D4373);
    border-radius: var(--toolcool-range-slider-panel-bg-border-radius, 1rem);
    overflow: hidden;
    transition: 0.3s all ease;
}

.panel:hover{
    background: var(--toolcool-range-slider-panel-bg-hover, #5f79b7);
}

.pointer{
    position: absolute;
    z-index: 20;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
}

.pointer-shape{
    background: var(--toolcool-range-slider-pointer-bg, #fff);
    box-shadow: var(--toolcool-range-slider-pointer-shadow);
    cursor: pointer;
    border: var(--toolcool-range-slider-pointer-border);
    border-radius: var(--toolcool-range-slider-pointer-border-radius, 100%);
    transform: translateX(-50%);
    width: var(--toolcool-range-slider-pointer-width, 15px);
    height: var(--toolcool-range-slider-pointer-height, 15px);
    transition: 0.3s all ease;
}

.pointer-shape:hover{
    background: var(--toolcool-range-slider-pointer-bg-hover, #fff);
    border: var(--toolcool-range-slider-pointer-border-hover);
    box-shadow: var(--toolcool-range-slider-pointer-shadow-hover);
}

.pointer:focus .pointer-shape{
    border: var(--toolcool-range-slider-pointer-border-focus);
}

/**
 ----------------- Vertical --------------------
 */
.range-slider.type-vertical{
    width: var(--toolcool-range-slider-height, 0.25rem);
    height: 200px;
    max-height: 100%;
}

.range-slider.type-vertical .pointer{
    left: 50%;
}