@tailwind base;
@tailwind components;

@media (prefers-reduced-motion: no-preference){
    :root {
        scroll-behavior: smooth;
    }
}

@layer components {
    .w-350{
        width: 350px;
    }

    .w-100-350{
        width: calc(100% - 350px);
    }

    .w-800{
        width: 800px;
    }

    .side-menu{
        left: -100%;
        transition: left 0.5s ease;
    }

    .mobile-menu-opened .side-menu{
        left: 0;
    }
}

@tailwind utilities;